<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
  <li>
    <%= link_to project.title, project_path(project.id) %>
    <%= link_to "[Edit]", edit_project_path(project.id) %>
    <%= link_to "[Destroy]", project_path(project.id),method: :delete, data:{
    confirm: "ara you sure?"} %>
  </li>
  <% end%>
</ul>

<p><%= link_to "add New", new_project_path %></p>